.draft-page header{
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 0.2fr 1.8fr 2fr 1fr 1fr;
    background-color: #1AAF9F;
    align-items: center;
    padding: 0 10px;
}

#logo-img{
    width: 60px;
    grid-column: 1;
}

.profile-icon{
    grid-column: 5;
    display: flex;
    justify-self: end;
}

.profile-icon img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.profile-icon-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 5px;
}

.profile-icon-info p{
    margin: 0;
}

.profile-icon-info a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.75em;
}

.draft-clock{
    justify-self: center;
    grid-column: 3;
    display: flex;
    background-color: orange;
    border-radius: 20px;
    padding: 5px 30px;
    margin: 15px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes pulse  {
    0%{
        box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0px 4px 20px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.2);
    }
}

#time-alert{
    background-color: red;
    animation: pulse 1s infinite;
}

.draft-clock h1{
    margin: 0 5px;
    font-size: 2em;
}

.time-section{
    display: flex;
    flex-direction: column;
}

.time-section p {
    margin: 0;
    font-size: 0.5em;
}

.name-heading{
    grid-column: 2;
    text-align: left;
    margin-left: 20px;

}

.name-heading h2{
    margin: 0;
    font-weight: bold;
    font-size: 1.25em;
}

.name-heading h3{
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

.pick-info{
    grid-column: 4;
    display: flex;
    flex-direction: column;

}

.pick-info h4{
    margin: 0 auto;
    padding: 5px 10px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-size: 0.9em;
}

.pick-info p{
    margin: 0;
    font-size: 0.8em;
}

.draft-board{
    overflow-x: scroll;
}

.board-head{
    display: flex;
    background-color: beige;
}

.team-block{
    display: flex;
    justify-content: space-around;
    min-width: 7.5%;
    font-size: 0.5em;
    background-color:blanchedalmond;
    border: 1px solid rgb(228, 211, 187);
    align-items: center;
    border-radius: 0 0 10px 10px;
    margin: 0 1px;
    font-size: 0.4em;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.team-block img{
    height: 40px;
    border-radius: 100%;

}

.temp{
    display: flex;
    justify-content: space-between;
}

.temp div{
    width: 100%;
    border: 1px solid black;
    height: 120px;
}