.how-to-play-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background: url('../images/nbaback.jpeg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.instructions {
    color: white;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    
}

.Instructions h1 {
    margin-bottom: 20px;
}

.instructions div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
    width: 75%; /* Ensure each section takes up full width */
    background-color: rgba(128, 128, 128, 0.8); /* 50% opacity gray */
    border-radius: 10px; /* Adjust the value to change the roundness */
}

.instructions div h2 {
    margin-bottom: 10px;
}

.instructions div h3 {
    margin-top: 5px;
    font-weight: normal;
}
