.header{
    display: flex;
    flex-direction: column;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    border-bottom: 1px solid #4F4F4F;
}

.header-logo{
    filter: brightness(0) invert(1);
    width: 50px;
}

.header-bot{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* padding: 0 6%; */
}

.header-bot h5 {
    width: 15%;
    margin: 0;
}

.header-bot a{
    margin: 0;
    padding: 10px 0;
    font-size: 0.7em;
    width: 9%;
    border: 0.5px solid #4F4F4F;
    border-top: none;
    border-bottom: 2px solid #0A901A;
}

.header-bot a:hover{
    background-color: #0A901A;
    cursor: pointer;
}

.header-bot .active{
    font-weight: bold;
}

.header-bot > h6:last-child{
    margin: 0;
    padding: 10px 0;
    width: 50%;
    background: radial-gradient(circle, #032e0a 0%, #032e0a 35%, #054c0f 36%, #054c0f 60%, #076a14 62%, #076a14 85%, #0A901A 88%, #0A901A 100%);
    border: 0.5px solid #4F4F4F;
    border-bottom: 2px solid #0A901A;
}