.pick-board{
    height: 50vh;
    margin-top: 5px;
}

.round-picks{
    display: flex;

}

.pick{
    min-width: 7.5%;
    margin: 1px;
    padding: 0 10px;
    height: 10vh;
    background: linear-gradient(to top, #999999 0%, #bbbbbb 1%, #dddddd 5%, #eeeeee 20%, #ffffff 50%, #dddddd 95%, #bbbbbb 99%);    border: 1px solid gray;
    border-radius: 10px;
    font-size: 0.5em;
    text-align: left;
    
}

.not-picked{
    vertical-align: top;
    
}

.picked{
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    height: 100%;
}

.picked img{
    width: 3vw;
    height: 3vw;    
    background-color:lightcyan;
    border-radius: 100%;
}

.pick-info{
    margin-left: 5px;
    font-size: 1.25em;
}

.pick-info h5{
    margin: 2px 0;
}

.cur {
    border-color: green;
    box-shadow: 0 0 5px 1px rgba(0, 255, 0, 0.25);
    z-index: -100;
}

.my-pick{
    border-color: yellow;
    box-shadow: 0 0 5px 1px rgba(255, 255, 0, 0.25);
    z-index: -100;
}

.pick-made{
    background: linear-gradient(to top, #1e3c72 0%,#2a5298 1%, #2a82ba 5%,#2ac3e6 20%, #a0ddff 50%, #2a82ba 95%,#2a5298 99%);
    border: 1px solid rgba(0, 0, 255, 0);



}