.team-section{
    overflow-y: scroll;
    text-align: left;
    width: 25%;
    padding: 10px;
    border-left: 1px solid black;
}

.roster-spot{
    display: grid;
    grid-template-columns: 70px auto auto;
    align-items: center;
    border-top: 1px solid black;
    background-color: aliceblue;
}

.roster-spot button{
    width: 50px;
    height: 50px;
    grid-column: 1;
    border-radius: 100%;
    border: 1px solid blue;
    background-color: lightblue;
    font-weight: bold;
    padding: auto;
}

.roster-spot div{
    grid-column: 2;
    display: flex;
    
}

.roster-spot div img{
    width: 50px;
    
}

.bio{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.bio h6{
    margin: 0;
    font-size: 0.9em;
}

.bio p{
    margin: 0;
    font-size: 0.75em;
}

.roster-spot h5{
    grid-column: 3;
    margin-right: 10px;
    justify-self: end;
}

.roster-head{
    height: fit-content;
    padding: 10px 0;
}

.roster-head > *{
    margin: 0;
}

.team-select{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid black;
    background-color: lightblue;
    color: #333;
    margin: 5px 0;
}

.team-select:focus {
    border-color: #6e9afc;
    outline: none;
    box-shadow: 0 0 10px #719ECE;
  }